<mat-menu #selectionMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="plans">Plans</button>
  <button mat-menu-item [matMenuTriggerFor]="store">Q</button>
</mat-menu>

<mat-menu #plans="matMenu">
  <button mat-menu-item *ngFor="let plan of plansSelection">{{plan.name}}</button>
</mat-menu>

<mat-menu #store="matMenu">
  <button mat-menu-item *ngFor="let store of storesSelection">{{store.name}}</button>
</mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="selectionMenu">
      <mat-icon>more_vert</mat-icon>
    </button>