<mat-card class="cardwidth">

  <mat-card-title>
    Stores
  </mat-card-title>

  <mat-card-content>
    <mat-table matSort #storesTable [dataSource]="dataSource" >
      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Name</mat-header-cell>
        <mat-cell *matCellDef="let store" >{{store.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Description</mat-header-cell>
        <mat-cell *matCellDef="let store" >{{store.description}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>

    </mat-table>
  </mat-card-content>

</mat-card>