<mat-card>
  
  <mat-card-header>
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-subtitle>The right place to manage everything</mat-card-subtitle>
  </mat-card-header>

  <app-dashboard-selection-menu></app-dashboard-selection-menu>

  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Resume"></mat-tab>
      <mat-tab label="Income"></mat-tab>
      <mat-tab label="Spending"></mat-tab>
      <mat-tab label=""></mat-tab>
    </mat-tab-group>


  </mat-card-content>

</mat-card>