<mat-card class="cardwith">

  <mat-card-title>
    Your new Awesome Store
  </mat-card-title>

  <mat-card-content>
    <form #newStore="ngForm" (ngSubmit)="createStore(newStore)" >

      <mat-form-field class="fullwidth">
        <input matInput type="text" class="form-control" name="name" id="name" placeholder="Name" ngModel>
      </mat-form-field>

      <mat-form-field class="fullwidth">
        <textarea matInput class="form-control" name="description" id="description" placeholder="Describe your store" ngModel></textarea>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" type="submit">Save your awesome Store</button>
      </mat-action-row>

    </form>
  </mat-card-content>

</mat-card>