<mat-sidenav-container class="sidenav-container mat-typography">
  <mat-sidenav opened="false" #leftSidenav mode="side" class="sidenav">
    <mat-list [ngStyle]="{'padding-top': '0px', 'width': '240px' }">
      
        <mat-card class="mat-elevation-z0" [ngStyle]="{ 'background-image': 'url(' + bgImage + ')', 'padding-bottom': '8px' }" >

          <mat-card-header >
            <img mat-card-avatar  [src]="image" alt="avatar">
          </mat-card-header>
          
          <mat-card-content [ngStyle]="{ 'margin-top': '8px', 'color': '#FFFFFF' }" >
            <p [ngStyle]="{ 'margin-bottom': '8px'}" class="mat-body-1">Lucas</p>
            <p class="mat-caption">Admin</p>
          </mat-card-content>
      
        </mat-card>
  
      <mat-divider></mat-divider>
      <nav *ngIf="showLoginMenu">

      </nav>
      <nav *ngIf="!showLoginMenu">

        <mat-list-item *ngFor="let page of pagesMenu" routerLinkActive="active" [routerLink]="page.path">
          <mat-icon matListIcon>{{page.icon}}</mat-icon>
          <h3 matLine>{{page.name}}</h3>
        </mat-list-item>
        
        <mat-divider></mat-divider>
        
        <mat-list-item>
          <mat-icon matListIcon>power_settings_new</mat-icon>
          <h3 matLine>Logout</h3>
        </mat-list-item>
      </nav>
    </mat-list>
  </mat-sidenav>

  <div class="app-content">
    <mat-toolbar color="primary" role="header">
      <button mat-icon-button (click)="leftSidenav.toggle()" ><mat-icon>menu</mat-icon></button>
      <h2 routerLink="">Memberzien</h2>
      <span class="fill-space"></span>
      <button mat-button routerLink="login" >Login</button>
      <button mat-button *ngIf="isLoggedIn" (click)="signOut()">Sign out</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>