<div class="login-content">
  <mat-card>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()" >

        <h3>Login to continue</h3>
        
        <mat-form-field class="full-width-field" >
          <input matInput placeholder="email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">Need a valid email</mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width-field" >
          <input matInput placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">Need a valid Password</mat-error>
        </mat-form-field>

        <mat-action-row>
            <button mat-button color="primary" type="submit" >Sign in</button>
            <button mat-button color="primary" routerLink="signup" >Sign up</button>
        </mat-action-row>

      </form>

    </mat-card-content>

  </mat-card>
</div>
