<mat-card class="cardwidth">

  <mat-card-title>
    Stores
  </mat-card-title>

  <mat-card-content>
    <mat-table matSort #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Description </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>

</mat-card>

<mat-card class="cardwidth">
  <mat-card-title>
    Your Stores
  </mat-card-title>
  <mat-card-content *ngFor="let store of stores | async" >
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{store.name}}
        </mat-panel-title>
        <mat-panel-description>
          Manage {{store.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-form-field>
        <input matInput type="text" name="name" [(ngModel)]="store.name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" name="description" [(ngModel)]="store.description">
      </mat-form-field>

      <mat-action-row>
        <button mat-raised-button color="primary" (click)="updateStore(store)" >Update</button>
        <button mat-raised-button color="warn" (click)="deleteStore(store)" >Delete</button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-card-content>
</mat-card>