@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body, material-app, mat-sidenav-container, .app-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
mat-sidenav {
  width: 240px;
}
.cardwith {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.fullwidth {
  width: 100%;
}
.sidenav {
  padding: 0px;
}
.sidenav-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(111, 111, 111, 0.50);
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav-panel {
  margin: 10px;
}